*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --background-color: #f5f4fa;
  --white: #ffffff;
  --footer-bg: #2f303a;
}

body {
  background-color: var(--white);
  color: var(--main-color);
  font-family: Roboto, sans-serif;

  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
}

.current {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

/* logo */

.logo {
  font-family: Raleway, sans-serif;
  color: var(--secondary-color);
  font-weight: 700px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--accent-color);
}

/* nav */
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.nav .item:first-child{
  margin-left: 85px;
}


.nav .item:not(:last-child){
  margin-right: 50px;
}

.nav .flex-list{
  margin-right: auto;
  align-items: center;
}

.nav .item{
  padding-bottom:32px ;
  padding-top: 32px;
}

/* button */

.button {
  display: inline-block;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  min-width: 200px;
  padding: 10px 32px;

}

.button.primary {
  background-color: var(--white);
  color: var(--accent-color);
}

.button.secondary {
  background-color: var(--accent-color);
  color: var(--white);
}

/* section */

.section {
 padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */

.footer {
  background-color: var(--footer-bg);
  color: var(--white);
}

.footer .address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
}

.footer .contacts {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer .logo-studio {
  color: var(--white);
}

.footer .container{
  justify-content:space-between;
}

/* flex */

.flex-list{
  display: flex;
}

.flex-item:not(:last-child){
margin-right: 30px;
}
