/* hero */

.hero {
  background-color: grey;
  text-align: center;
}

.hero-title {
  color: var(--white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}


/* benefits */

/* .benefits{} */

.section.benefits{
  padding-bottom: 0;
}

.benefits .section-title{
  color: transparent;
}

.benefits .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
}

/* products */

/* .products{} */

.products .type {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.products .flex-item{
  width: 370px;
  text-align: center;
}

/* team */

/* .team{
  
} */

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
}

.team .position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
}

.team .flex-item{
  width: 270px;
}

/* clients */

/* .clients */

/* portfolio */

.portfolio .btn{
  padding: 6px 22px;
}

.portfolio .item:not(:last-child){
  margin-right: 8px;
}

.btn{
  font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;

background-color: var(--white);
color: var(--secondary-color);

border-radius: 4px;
}

.classification{
  justify-content: center;
  padding-bottom: 50px;
}

.portfolio .flex-item{
  margin: 15px;
  flex-basis: 370px;
}

.wrap{
  flex-wrap: wrap;
  margin: -15px;
} 

